@charset "utf-8";
body {
    counter-reset: clip-number;
}
::-moz-selection { /* Code for Firefox */
    color:#fff;
	background:#337ab7;
/*	background:#398439;*/
}
::selection {
    color:#fff;
	background:#337ab7;
/*	background:#398439;*/
}
.row {
	margin:auto;
}
hr, .hr {
	margin-top:4px !important;
	margin-bottom:8px !important;
}
.form-group {
	margin-bottom:6px;
}
/* .form-group .required {
	position: relative;
	margin-right: 15px;
}
.form-group .required:after {
	position: absolute;
	content: "*";
	color: red;
	right: -10px;
	top: 0;
} */
.well {
	margin-bottom:8px;
}
.glyphicon {
	cursor: default;
}
.highlight {
	display: inline-block;
	min-width: 10px;
	padding: 3px 2px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	background-color: #777777;
	border-radius: 6px;
}
.alert-sm {
	padding: 5px !important;
	cursor: default;
}
.page-header {
	margin-top:20px !important;
	margin-bottom:0px !important;
}
/* Footer code starts */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color:#f8f8f8;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 5px auto;
}
/* Footer code ends */
a.title {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:26px;
	color:#555;
	text-shadow: 1px 1px 0px #FFF;
	text-decoration:none;
	-webkit-transition: color 250ms;
	-o-transition: color 250ms;
	transition: color 250ms;
}
a.title:hover, a.title:focus {
	color:#252525;
	text-decoration:none;
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #428bca;
}
.btn-success.btn-outline {
    color: #5cb85c;
}
.btn-info.btn-outline {
    color: #5bc0de;
}
.btn-warning.btn-outline {
    color: #f0ad4e;
}
.btn-danger.btn-outline {
    color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.main {
	margin-top: 25px;
}

.font-size input[type=radio] {
	display:none;
}
.font-size {
	border:1px solid #555;
	padding:5px 10px;
}
.font-size.active {
	background:#555;
	color:#fff;
}
label {
	font-weight:normal !important;
	margin-bottom: 0px;
}
.page-header {
	margin-top:20px !important;
}
/* .page-subheader {
	margin-top:0px !important;
} */
.width100percent {
	width:100% !important;
}
.width80percent {
	width:80% !important;
}

/* Icon when the collapsible content is shown */
.collapsible-icon:before {
	font-family: "Glyphicons Halflings";
	content: "\e114";
	float: left;
	margin: -1px 8px 0 0;
	font-weight:normal;
}
/* Icon when the collapsible content is hidden */
.collapsible-icon.collapsed:before {
	content: "\e080";
}

/* Panel style */
.panel-heading {
    font-weight: bold;
    cursor: default;
}
.panel-primary-light {
	border-color:#BCE8F1;
}
.panel-primary-light>.panel-heading {
	background-image: linear-gradient(to bottom, #f9fdff 0px, #e9f4fd 100%);
	background-color:#f9fdff;
	border-color:#BCE8F1;
}
.panel-primary-light>.panel-heading .badge {
	color:#337ab7;
	background-color:#fff;
}
.panel-primary-light>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#BCE8F1;
}
.panel-warning-light {
	border-color:#f9e297;
}
.panel-warning-light>.panel-heading {
	background-image: linear-gradient(to bottom, #fbe49c 0px, #fcecc9 100%);
	background-color:#fcecc9;
	border-color:#f9e297;
}
.panel-warning-light>.panel-heading .badge {
	color:#F0AD4E;
	background-color:#fff;
}
.panel-warning-light>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#f9e297;
}

/* Well styles */
.well-default {
	background-image: linear-gradient(to bottom, #f3f3f3 0px, #fbfbfb 100%) !important;
	background-color:#fbfbfb !important;
	border:1px solid #d6d6d6 !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(119,119,119,0.08) !important;
	box-shadow:inset 0 1px 1px rgba(119,119,119,0.08) !important;
}
.well-primary {
	background-image: linear-gradient(to bottom, #e9f4fd 0px, #f9fdff 100%) !important;
	background-color:#f9fdff !important;
	border:1px solid #BCE8F1 !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(49,112,143,0.08) !important;
	box-shadow:inset 0 1px 1px rgba(49,112,143,0.08) !important;
}
.well-warning {
	background-image: linear-gradient(to bottom, #fcecc9 0px, #fbe49c 100%) !important;
	background-color:#fcecc9 !important;
	border:1px solid #f9e297 !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(235,127,22,0.08) !important;
	box-shadow:inset 0 1px 1px rgba(235,127,22,0.08) !important;
}
.well-sm {
    padding: 9px 0 9px 0;
}

/* Keywords input style */
.keywords-box {
	padding:6px;
}
/*
input.keywords {
	border-top:none;
	border-right:none;
	border-bottom:#fff 1px solid;
	border-left:none;
	padding:0 2px;
	color:#555;
	background-color:#fff;
	width:16%;
	outline:none;
}
input.keywords:focus {
	border-bottom:#CCC 1px solid;
	outline:none !important;
}
*/
/* Keywords display style */
.keywords-display-box {
	border:#ccc 1px solid;
	border-radius:4px;
	background-color:#FFF;
	padding:4px;
	/* overflow:hidden;
	min-height:46px !important;
	height:46px; */
}
/* .keyword-display-box.active {
	height:auto !important;
	min-height:46px;
} */
.tag {
	padding:4px 8px;
	margin:2px;
	border:1px solid transparent;
	border-radius:4px;
	display:inline-block;
}
.tag-default, .tag-sm-default {
	background-color:#e8e8e8;
	border-color:#d6d6d6;
	color:#606060;
}
.tag-primary, .tag-sm-primary {
	background-color:#d9edf7;
	border-color:#bce8f1;
	color:#31708f;
}
.tag-dismiss {
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0px 1px 0px #FFF;
	opacity: 0.2;
	cursor:default;
	padding-right:4px;
}
.tag-dismiss:hover,.tag-dismiss:focus {
	opacity: 0.6;
}
.tag-dismissable .tag-dismiss,.tag-dismissible .tag-dismiss {
	position:relative;
	top:2px;
	/*right:-21px;*/
	color:inherit;
}
/* Keywords display style ends */

.float-right {
	float:right;
	display:inline;
}
.float-left {
	float:left;
	display:inline;
}

.btn-collapse, .btn-toggle {
	 margin-top:18px;
	 margin-right:2px;
}
@media (min-width:768px) {
	.btn-collapse {
		width:auto;
	}
	.btn-collapse.collapse {
		display:block !important;
		height:auto !important;
	}
	.btn-toggle {
		display:none;
	}
}
@media (max-width:768px) {
	.btn-collapse.collapse {
		display:none !important;
	}
}
@media (max-device-width:480px) and (orientation:landscape) {
	.btn-collapse {
		max-height:200px;
	}
}

input.no-border-input {
	border:none;
	padding:0 6px 4px 6px;
	color:#555;
	background-color:#fff;
	outline:none;
}
input.no-border-input:focus {
	outline:none !important;
}
/* Date display style */
.display-box {
	border:#ccc 1px solid;
	border-radius:4px;
	background-color:#f5f5f5;
	margin:0;
	padding:0;
	overflow:auto;
	min-width:34px !important;
	height:34px;
	/*-webkit-transition: height 0.6s;  /* For Safari 3.1 to 6.0 */
    /*transition: height 0.6s;*/
}
.display-box.active {
	height:auto !important;
	min-height:34px;
}
.form-group-sm>.display-box {
	font-size:12px;
	min-width:30px !important;
	height:30px;
}
.form-group-sm>.display-box.active {
	height:auto !important;
	min-height:30px;
}
.tag-sm {
	padding:2px 8px;
	margin:2px;
	border:1px solid transparent;
	border-radius:4px;
	display:inline-block;
	cursor:default;
}
.date-display-sm>.tag-sm {
	padding:2px 6px;
	margin:1px;
	border:1px solid #d6d6d6;
	line-height:normal;
}
.tag-sm-dismiss {
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0px 1px 0px #FFF;
	opacity: 0.2;
	cursor:default;
	padding-right:4px;
}
.tag-sm-dismiss:hover,.tag-sm-dismiss:focus {
	opacity: 0.6;
}
.tag-sm-dismissable .tag-sm-dismiss,.tag-sm-dismissible .tag-sm-dismiss {
	position:relative;
	top:2px;
	color:inherit;
}
/* Date display style ends */
/* urlOrFileFolderPath display style */
/*.urlOrFileFolderPath-display-box {
	border:#ccc 1px solid;
	border-radius:4px;
	background-color:#FFF;
	margin:0;
	padding:0;
	overflow:hidden;
	min-width:34px !important;
	height:34px;
	/*-webkit-transition: height 0.6s;  /* For Safari 3.1 to 6.0 */
    /*transition: height 0.6s;
}
.urlOrFileFolderPath-display-box.active {
	height:auto !important;
	min-height:34px;
}
.form-group-sm>.urlOrFileFolderPath-display-box {
	font-size:12px;
	min-width:30px !important;
	height:30px;
}
.form-group-sm>.urlOrFileFolderPath-display-box.active {
	height:auto !important;
	min-height:30px;
}
/* urlOrFileFolderPath display style ends */
.scroll-to-top {
	background-color: rgba(60, 60, 60, 0.5);
	border-radius:8px;
	padding:4px 0 0 8px;
	line-height:normal;
	font-size:18px;
	color: rgba(255, 255, 255, 0.8);
	height:32px;
	width:32px;
	position:fixed;
	-webkit-transition: background-color 0.6s, color 0.6s;  /* For Safari 3.1 to 6.0 */
    transition: background-color 0.6s, color 0.6s;
	cursor:pointer;
	right:30px;
	bottom:20px;
	z-index:990;
	display:none;
}
.scroll-to-top:hover {
	background-color: rgba(66, 139, 202, 0.8);
	color: rgba(255, 255, 255, 1);
}
.clip-number {
	font-size:14px;
	font-weight:bold;
}
.clip-number::before {
    counter-increment: clip-number;
    content: "Clip " counter(clip-number);
}
.keyword-label {
}
@media (min-width:1200px) and (max-width:1800px) {
	/*.clip-number {
		display:none !important;
	}*/
	.clip-number::before {
		counter-increment: clip-number;
		content: counter(clip-number);
	}
	.keyword-label {
		font-size:12px !important;
	}
}
/* .form-btn {
	position:fixed;
	left:44.78%;
	bottom:10px;
	z-index:9999;
	-ms-transform: matrix(0.5, 0, 0, 0.5, 0, 10); IE 9
    -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 10); Safari
    transform: matrix(0.5, 0, 0, 0.5, 0, 10);
	-webkit-transition:transform 0.4s;  For Safari 3.1 to 6.0
    transition:transform 0.4s;
}
.form-btn:hover {
	-ms-transform: matrix(1, 0, 0, 1, 0, 0); IE 9
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0); Safari
    transform: matrix(1, 0, 0, 1, 0, 0);
} */

/* // typeahead.js CSS starts
.typeahead,
.tt-query,
.tt-hint {
	width:100%;
}
.twitter-typeahead {
	display:inherit !important;
}
.typeahead {
	background-color: #fff;
}
.typeahead:focus {
}
.tt-query {
}
.tt-hint {
	color: #999
}
.tt-menu {
	width: auto;
	padding: 6px 0;
	margin: 0 6px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
			box-shadow: 0 3px 5px rgba(0,0,0,.2);
}
.tt-menu {
	max-height: 150px;
	overflow-y: auto;
}
.tt-suggestion {
	padding: 3px 20px;
	font-size: 14px;
	line-height: 18px;
}
.tt-suggestion:hover {
	cursor: pointer;
	color: #fff;
	background-color: #337ab7;
}
.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #337ab7;
}
.tt-suggestion p {
	margin: 0;
}
.tt-hint {
	background: transparent !important;
}
// typeahead.js CSS ends

// X-editable CSS overwrite starts
.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: none !important;
	line-height: 34px !important;
}
.editable-empty, .editable-empty:hover, .editable-empty:focus {
    font-style:normal !important;
    color:inherit !important;
}
.editable-unsaved {
    font-weight:normal !important;
}
// X-editable CSS overwrite ends
*/
.form-control-focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}/*
.subject-display-box {
	padding:6px !important;
	min-height:71px;
	cursor:text;
	resize: both;
	overflow: auto;
} */

/* Search checkbox CSS starts */
.checkbox:before,.checkbox:after,.checkbox,.checkmark:before,.checkmark:after,.checkmark{box-sizing:border-box}
.checkbox{display:inline-block;line-height:22px;margin:6px 0; left:-10px}
.checkbox input[type=checkbox]{display:none}
.checkmark{position:relative;display:inline-block;vertical-align:top;cursor:pointer;width:20px;height:20px;text-shadow:0 -1px 0 rgba(0,0,0,.2);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075)}
.checkbox input[type=checkbox]:checked + .checkmark:before{font-family:FontAwesome;content:'\f00c';color:#fff;background-image:-webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);background-image:-o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));background-image:linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x; line-height:18px;}
.checkmark:before{content:'';position:absolute;width:20px;height:20px;border:1px solid #2AABD2; border-radius:4px; background-color:#fff;}
.checkbox input[type=checkbox]:disabled + .checkmark{opacity:0.3;cursor:not-allowed}
/* Search checkbox CSS ends */

.btn-group-xlg > .btn, .btn-xlg {
    padding: 12px 24px;
    font-size: 150%;
    line-height: 1;
    border-radius: 8px;
}

/* Tree CSS starts */
.tree, .tree ul {
	margin:0;
	padding:0;
	list-style:none;
}
.tree ul {
	margin-left:1em;
	position:relative;
}
.tree ul ul {
	margin-left:0.5em; /* (indentation/2) */
}
.tree ul:before {
	content:"";
	display:block;
	width:0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	border-left:1px solid;
}
.tree li {
	margin:0;
	padding:0 1.5em; /* indentation + .5em */
	line-height: 1.5em;
	color:#404040;
	position:relative;
}
.tree ul li:before {
	content:"";
	display:block;
	width:15px; /* same with indentation */
	height:0;
	border-top:1px solid;
	margin-top:-1px; /* border top width */
	position:absolute;
	top:0.75em; /* (line-height/2) */
	left:0;
}
.tree ul li:last-child:before {
	background:#fff; /* same with body background */
	height:auto;
	top:0.75em; /* (line-height/2) */
	bottom:0;
}
/* Tree CSS ends */

/* errors and messages */
ul.errors li {
    list-style: none;
}
ul.messages li {
    list-style: none;
}

.textcomplete-dropdown>li{
	background-color: #fff;
	padding: 4px 0px;
	
}
.textcomplete-item>a{
	/* background-color: #fff !important; */
}

.textcomplete-dropdown>.active>a,
.textcomplete-dropdown>.active>a:hover, 
.textcomplete-dropdown>.active>a:focus{
    text-decoration: none; 
    outline: 0;
    background-color: #337ab7;
    color: #fff !important;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .suggestionsSpan {
        display: none;
    }
    .headerLeft12{
    	width: 80% !important;
	}
    .headerRight12 {
    	width: 20% !important;
	}
}
@media screen and (min-width: 867px) {
    .main {
        margin-top: 25px !important;
    }
}
@media screen and (max-width: 867px) {
    .main {
        margin-top: 45px !important;
    }
}
@media screen and (max-width: 450px) {
    .main {
        margin-top: 45px !important;
    }
}