@charset "utf-8";

@media (min-width:768px) {
	.associate-modal {
		width:auto !important;
	}
	.hierarchy-modal {
		min-width:50% !important;
		max-width:90% !important;
	}
	.account-settings-modal {
		width:40% !important;
	}
}
.account-settings-sidebar {
    position: fixed;
    top: 77px;
    bottom: 67px;
    left: 1px;
    z-index: 1000;
    display: block;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border-right: 1px solid #eee;
	font-size:100%;
}
.account-settings.nav-sidebar > li {
	border-bottom:1px solid #efefef;
}