 @charset "utf-8";

/* dataTables CSS starts */
table.dataTable thead .sorting::after {
    content: "";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}
/* dataTables CSS ends */

/* Off Canvas Starts 
.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
		 -o-transition: all .25s ease-out;
			transition: all .25s ease-out;
}
.row-offcanvas-right {
	right: 0;
}
.row-offcanvas-left {
	left: 0;
}
.row-offcanvas-right
.sidebar-offcanvas {
	right: -100%;
}
.row-offcanvas-left
.sidebar-offcanvas {
	left: -100%;
}
.row-offcanvas-right.active {
	right: 100%;
}
.row-offcanvas-left.active {
	left: 100%;
}
.sidebar-offcanvas {
	position: absolute;
	top: 0;
	width: 100%;
}
/* Off Canvas Ends */